name: Build Status

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - docs/
      - LICENSE
      - README.md
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions-ext/node/setup@main
      with:
        js_folder: "."

    - name: Install dependencies
      run: |
        pnpm install
        pnpm exec playwright install

    - name: Build
      run: |
        pnpm run build
        pnpm run webpack

    - name: Test
      run: pnpm run test

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        files: |
            **/junit.xml
      if: ${{ always() }}
